@model CommunAxiom.Accounts.ViewModels.Application.DetailsViewModel
@{
    ViewData["Title"] = "Application Details";
}

<div class="level">
    <div class="level-item">
        <div class="card w-25">
            <div class="card-header">
                <div class="card-header-title">
                    <p class="title is-4">
                        @ViewData["Title"]
                    </p>
                </div>
            </div>
            <div class="card-content">
                <div class="field">
                    <label asp-for="DisplayName" class="label"></label>
                    <span class="is-primary">@Model.DisplayName</span>
                </div>
                <div class="field">
                    <label asp-for="PostLogoutRedirectURI" class="label"></label>
                    <span class="is-primary">@Model.PostLogoutRedirectURI</span>
                </div>
                <div class="field">
                    <label asp-for="RedirectURI" class="label"></label>
                    <span class="is-primary">@Model.RedirectURI</span>
                </div>
                <div class="field">
                    <label asp-for="ClientId" class="label"></label>
                    <span class="is-primary">@Model.ClientId</span>
                </div>
                <div class="field">
                    <label asp-for="HostingType" class="label"></label>
                    <span class="is-primary">@Model.HostingType</span>
                </div>
                @if (Model.ShowSecret)
                {
                    <div class="field">
                        <label asp-for="ClientSecret" class="label"></label>
                        <p>
                            Make sure to copy your client secret now and keep a local copy safe to use it with the application.
                            You Wouldnt be able to see this secret again
                        </p>
                        <div>
                            @Model.ClientSecret
                        </div>
                    </div>
                }
                <div class="field">
                    <form method="post" asp-action="Keygen">
                        <div class="field">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.HiddenFor(x=>x.Id)
                                <input type="submit" value="Regenerate Secret" class="button input is-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




