@using CommunAxiom.Accounts.Contracts
@model IEnumerable<DetailsViewModel>
@inject ILookupStore lookupStore
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="level content">
        <h1 class="level-item is-4">System Applications Management</h1>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th><abbr title="Display Name">DN</abbr></th>
                <th><abbr title="Client Id">CID</abbr></th>
                <th><abbr title="Redirect Uri">RU</abbr></th>
                <th><abbr title="Post Logout Uri">PLU</abbr></th>
                <th><abbr title=""><a asp-controller="Applications" asp-area="Management" asp-action="Add"><img class="icon" src="~/Images/Add.png" /></a></abbr></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DisplayName</td>
                    <td>@item.ClientId</td>
                    <td>@item.RedirectURI</td>
                    <td>@item.PostLogoutRedirectURI</td>
                    <td>
                        <a asp-action="Details" asp-area="Management" asp-controller="Applications" asp-route-appId="@item.Id"><img src="~/Images/View.png" class="icon" /> </a> 
                        <a asp-action="Edit" asp-area="Management" asp-controller="Applications" asp-route-appId="@item.Id"><img src="~/Images/Edit.png" class="icon" /> </a> 
                        <a asp-action="Delete" asp-area="Management" asp-controller="Applications" asp-route-appId="@item.Id"><img src="~/Images/Delete.png" class="icon" /> </a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
