@model CommunAxiom.Accounts.ViewModels.Network.ManageViewModel
@{
    ViewData["Title"] = "Contacts";
}
<style>
    tr:hover {background-color: #D6D6CE !important;}
</style>
<div class="columns is-variable is-5">
    <div class="column is-3">
        <div class="columns">
            <div class="column is-12">
                @Html.Partial("../Shared/Network/MyNetwork.cshtml");
            </div>
                                    </div>
                                    </div>
    <div class="column is-9">
        <div class="columns">
            <div class="column is-12">
                <div class="card has-background-white">
                    <div class="card-content">
                        <div class="columns is-gapless">
                            <div class="column is-11 has-background-white">
                                <div class="has-background-white">
                                    @if (Model.ContactRequests.Count() == 1)
                                    {
                                        <label class="label">You have @Model.ContactRequests.Count() prending request</label>
                                    }
                                    else
                                    {
                                        <label class="label">You have @Model.ContactRequests.Count() prending requests</label>
                                    }
                                </div>
                                    </div>
                            <div class="column is-1">
                                <div class="has-background-white">
                                    @Html.ActionLink("Manage","Requests")
                                    </div>
                                </div>
                                    </div>
                                    </div>
                                </div>
            </div>
            </div>
                <div class="columns">
            <div class="column is-12">
                <div class="card has-background-white">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-12">
                                <h5>Groups</h5>
                            </div>
                        </div>
                        @{
                            var groupsArray = Model.Groups.ToArray();
                            double count = groupsArray.Count();

                            if (count == 0)
                            {
                        <div class="columns">
                                    <div class="column is-12">
                                        no groups to display
                                    </div>
                                </div>
                            }
                            else
                            {
                                int groupsCount = 0;
                                var rowCount = Math.Round((double)(count / 3), (int)0, MidpointRounding.ToPositiveInfinity);
                                @for (int i = 0; i < rowCount; i++)
                                {
                                    var divCount = groupsCount + 3;
                                    <div class="columns is-variable is-5">
                                        @for (int j = groupsCount; j < divCount; j++)
                                        {
                                            if (j <= groupsArray.Count() - 1)
                                            {
                                                <div class="column is-4">
                                                    <center>
                                                        <div style="border: 1px solid #D6D6CE">
                                                            <div class="m-0" style="background-color:#D6D6CE;">
                                                                <br />
                                                                &nbsp;
                            </div>
                            </div>
                                                        <div class="m-0 has-background-light">
                                                            <figure class="image is-64x64" style="margin-bottom: -10px">
                                                                <img class="is-rounded is-64x64" style="margin-top:-30px; padding-bottom:-50px" src="https://bulma.io/images/placeholders/128x128.png">
                                                            </figure>
                                                            
                                                            <label class="is-size-7">@Html.DisplayFor(groupItem => groupsArray[j].Name)</label>
                        </div>
                                                    </center>
                    </div>
                                            }
                                            else
                                            {
                                                <div class="column is-4">
                                                    &nbsp;
                </div>
                                                                                                
                                            }
                                            groupsCount++;
                                        }
                        </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

